<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><%= @page_title %> &raquo; <%= SITE_NAME %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= tag 'meta', :content => @meta_keywords, :name => 'keywords' unless @meta_keywords.blank? %>
<%= tag 'meta', :content => @meta_description, :name => 'description' unless @meta_description.blank? %>
<link rel="shortcut icon" href="/cms/favicon.ico" type="image/x-icon" />
<%= stylesheet_link_tag 'screen', :media => 'screen,projection' %>
<%= javascript_include_tag 'jquery.core' %>
<!--[if lte IE 8]>
<%= stylesheet_link_tag 'ie', :media => 'screen,projection' %>
<%= javascript_include_tag '/cms/javascripts/html5.js' %>
<![endif]-->
<%= stylesheet_link_tag '/cms/stylesheets/print.css', :media => 'print' %>
<%= yield :head %>
</head>
	<body>