<%= render :partial => 'layouts/shared/header' %>
	<div class="wrapper">
		<header>
			<h1>just<br />one<br />more</h1>
		</header>
		<section id="promo">
			<%= yield :promotion %>
		</section>
		<section id="content">
			<%= yield %>
		</section>
		<section id="support">
			<%= yield :support %>
			<ul id="socialmedia">
				<li>
					<%= link_to image_tag('vimeo_button.png'), '#' %>
				</li>
				<li>
					<%= link_to image_tag('facebook_button.png'), '#' %>
				</li>
				<li class="last">
					<%= link_to image_tag('twitter_button.png'), '#' %>
				<li>
			</ul>
		</section>
	</div>
<%= render :partial => 'layouts/shared/footer' %>